.basket{
	padding-top: 15px;
}
.basket-fixed {
    position: relative;
    top : 0px;
}
.basket-panel{
    padding: 20px 20px;
	border: 1px solid #cecece;
    background-color: white;
    box-shadow: 0 0 6px 0 #cecece;
}
.basket-item{
	font-size:14px;
	font-family: Tahoma;
    color: #777;
    padding: 5px 0;

}
.basket .title{
	font-size: 18px;
    color: #777;
    text-transform: uppercase;
    padding: 10px 0;
}
.basket-item-description{
	font-size:12px;
	color: #999;
	
}
.basket-clear-button{
    font-size: 14px;
    color: #777;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 0 15px;
    line-height: 38px;
    cursor: pointer;
}

.basket-clear-button:hover{
    color: #EE6055;

}

.basket-add-button {
    font-size: 16px;
    padding: 7px 13px;
    box-shadow: 0px 1px 4px -2px;
    color: #EE6055;
    text-transform: uppercase;
    border-radius: 25px;
}

.basket-add-button:hover {
  color: white;
  background-color: #ee6055;
}

.basket-total-panel{
	border-top:1px solid #777;
    margin-top: 35px;
    padding-top: 10px;
}

.basket-total{
    font-size:16px;
    font-weight: bold;
    color: #777;
    padding-top: 5px;
    padding-bottom: 25px;
}


.basket-noproducts{
    font-size: 14px;
    color: #777;
    padding-bottom: 20px;
}

.basket-buttons span{
    padding: 5px 6px;
    font-size: 14px;
}
