.catalogue-view-title{
	font-size:22px;
	color:#777;
}
.catalogue-view-subtitle{
	font-size: 16px;
	padding: 10px;	 
}
.catalogue-view-image{
	max-height: 100px;
}
.back-icon{
	position: absolute;
    left: 30px;
    font-size: 30px;
    z-index: 100;
    cursor: pointer;
    color: #767676;
}