.Catalogue{
	width:600px;
	border: 1px solid #cecece;
}

.catalogue-title-minimal{
	font-size: 16px;
	font-weight: bold;
}
.catalogue-image-minimal{
	width: 90%;
	margin: auto;
}

.catalogue-description-minimal {
  color: #FCFCFF;
}

.panel {
  min-height: 200px;
  color: #FCFCFF;
}
