.Catalogue{
	width:600px;
	border: 1px solid #cecece;
}

.catalogue-title-minimal{
	font-size: 16px;
	font-weight: bold;
}
.catalogue-image-minimal{
	width: 90%;
	margin: auto;
}

.catalogue-description-minimal {
  color: #FCFCFF;
}


.panel {
  min-height: 200px;
  color: #FCFCFF;
}

.panel-body {
  background-color: rgba(0, 0, 0, 0.7);
}

.card-body{
	background-color: white;
}
.card {
	height: 100%;
    box-shadow: 0px 0px 2px 0px #cecece;
}

.hero-image{
	height: 160px;
}
.logo-image{
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    height: 100px;
    width: 100px;
}
.catalogue{
	cursor: pointer;
}
.catalogue{
	margin-left: auto;
	margin-right:auto;
}
.card:hover{
    box-shadow: 0px 0px 5px 1px #999;
}
