
.checkout input.textfield{
    border-radius: 5px;
    border: 1px solid #cecece;
    padding-left: 8px;
    outline: none;
    width: 100%;
}
.checkout input.textfield:focus{
    border: 1px solid #EE6055;
}
.pad-top{
    padding-top: 10px;
}

.checkout>.row>.col-12{
    margin-bottom: 20px;
}
.checkout .card{
    height: auto;
    margin-bottom: 20px;
}
.checkout textarea{
    height: 100px;
}
.calltoaction{
    width: 80%;
    height: 50px;
    font-size: 20px;
    font-family: "Passion One" , sans-serif;
}

.required {
    border: 1px solid red;
}