.glyphicon{
	cursor: pointer;
}
.glyphicon-edit:hover{
	color:cornflowerblue;
}
.glyphicon-remove:hover{
	color:red;
}

.modal-title{
	font-size:18px;
	font-weight: bold;
}
.modal-title-description{
	font-size: 14px;
	font-weight: lighter;
	padding-top: 5px;
}

.modal-title-price{
	float: right;
}

.small-price{
	font-size:12px;
	color:#888;
}