#map{
    width: 100vw;
    min-height: 67vh;
    z-index: 0;
    margin-top: -20px;
}
.overlay {
    padding-top: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}
@media(max-width: 576px){
    .overlay{
        position: relative;
        width:100vw;
        margin-top: -40px;
    }
    #map{
        margin-top: 0px;
    }
}
.autocomplete input{
	height: 40px;
	border-radius: 5px;
	border: 1px solid #cecece;
    padding-left: 8px;
	line-height: 40px;
	outline: none;
}
.autocomplete input:focus{
    border: 1px solid #EE6055;
}
.autocomplete button{
    height: 40px;
    border-radius: 3px;
    width: 100%;
}
.accept-button{
    display: none;
}
.no-service-button{
    display: none;
}
.no-number-button{
    display: none;
}

.welcome-panel{
    background: rgba(62,52,73, 0.7);
    border: 1px solid #18141c;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top:10px;
}
.slogan{
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: left;
    font-weight: bold;
    text-shadow: -2px 2px 2px #3E3449;
}
.home{
    position: relative;
}

.partners-title{
    font-size:24px;
    font-weight: bold;
    padding:20px;
}