.foodiscoming .order-code{
    box-shadow: inset 0px 0px 8px 0px #ccc;
    background-color: rgba(106,104,104,0.02);
    margin: 10px;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
}
.foodiscoming .content{
    padding-top: 40px;
}
.up-code{
    text-transform: uppercase;
}

.success-circle{
    font-size: 60px;
    border-radius: 50px;
    color: #01bf00;
}