.Products{
	width: 300px;
	border: 1px solid #FF0000;
}
.product-title-minimal{
	font-size: 16px;
	font-weight: bold;
}
.product-image-minimal{
	width: 70%;
}
.product-image-minimal img{
	box-shadow: 0px 0px 5px 0px #cecece;
}
.product-price-minimal span{
	font-size: 16px;
	font-weight: bold;
}
.product-price-minimal span.glyphicon{
	font-size: 14px;
}
.add-button{
    font-size: 10px;
    border-radius: 25px;
    padding: 4px 10px;
    box-shadow: 0px 1px 4px -2px;
    color: #777;
    text-transform: uppercase;
}


.panel{
	border: 0
}