button:focus {outline: none !important;}

.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 90px;
  vertical-align: bottom;
}
.logo-text{
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 50px;
    color: white;
    padding-left: 2px;
}
.logo-container{
  padding:5px 5px;
}

.login{
  padding-top: 10px;
}
.login-name, .login-address{
  font-weight: bold;
  color: white;
}
.login-name{
  font-size:20px;
}
.login-address{
  font-size: 16px;
  padding-top: 1px;
  padding-bottom: 2px;
}

.login-links ul{
  list-style-type: none;
}
.login-links ul li{
  display: inline-block;
  padding: 4px 10px 1px 10px;
  border-right: 1px solid #aaa;
  color: #cecece;
  cursor: pointer;
}
.login-links ul li:last-child{
  border-right: 0;
  padding-right: 0;
}





.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.root , .App{
  min-height: 100vh;
}
.App .stretch{
  min-height: calc(100vh - 162px );
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer{
  padding: 20px;
  background-color: #3E3449;
  color: white;
  font-family: "Open Sans" , sans-serif;
  border-top:1px solid #18141c; 
  position:relative;
  bottom:0;
  min-height:60px;   /* Height of the footer */
  width: 100%;
}
.footer .fa{
    font-size: 28px;
    padding: 0 3px;
}
.footer .who-we-are{
    font-size: 11px;
    color: #b9b6c0;
    opacity: 0.8;
}
.footer .who-we-are .title{
    font-size: 14px;
    color: #b9b6c0;
    opacity: 0.9;
    font-weight: bold;
}
.footer .copyright{
    font-size: 10px;
    font-weight: lighter;
    font-family: Londrina , cursive;
    color : #9c99a5;
}
.footer .social{
    font-size: 14px;
    color: #b9b6c0;
    opacity: 0.9;
    font-weight: bold;
}
.footer .fa-facebook-square{
  color: #4267b2;
}
.footer .fa-twitter-square{
  color: #4ab3f4;
}
.footer .fa-youtube-square{
/*  color: #ff0000;*/
}




.bg-first{
  background-color: #EE6055;
}
.color-first{
  color: #EE6055;
}
.bg-second{
  background-color: #3E3449;
}
.color-second{
  color: #3E3449;
}
.bg-third{
  background-color: #0D3B66;
}
.color-third{
  color: #0D3B66;
}
.bg-fourth{
  background-color: #FBF5DD;
}
.color-fourth{
  color: #FBF5DD;
}
.bg-fifth{
  background-color: #FCFCFF;
}
.color-fifth{
  color: #FCFCFF;
}