.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 50px;
  vertical-align: bottom;
}
.logo-text{
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 28px;
    color: white;
    padding-left: 2px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
