/*@import 'bootstrap.css'*/
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans|Passion+One|Londrina+Solid');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #FCFCFF;
}

.navbar{
    margin-bottom: 0px;
}
.logo{
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 100%;
}

.login{
    font-family: 'Open Sans', sans-serif;
}

.image-cover{
	background-size: cover;
	background-position: center;
	width: 100%;
/*	padding-top: 56.25%;  /* 16:9 */
	padding-top: 75%;
}

.sm-pad{
    padding-left: 3px;
    padding-right: 3px;
}

.sm-pad-all{
    padding: 4px;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.nm{
    margin-left: 0;
    margin-right: 0;
}
/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.full-height{
	height: 100%;
}
.pointer {
    cursor: pointer;
}


.btn-static {
  cursor: default;
}
.btn-static:active {
  -moz-box-shadow:    inset 0 0 0px white;
  -webkit-box-shadow: inset 0 0 0px white;
  box-shadow:         inset 0 0 0px white;
}